COOKIE = 
SESSION_SECRET = 
HOST = 

ADMIN = true

TTL = 
EXECUTION_MODE = 

TWILIO_REG_PHONE_WHATSAPP = 
ADMIN_NUMBER_WHATSAPP = 
TWILIO_REG_PHONE_SMS = 
ADMIN_NUMBER_SMS = 
ACCOUNT_SID = 
AUTH_TOKEN = 
SERVICE = 
GMAIL_PORT = 
MAIL_USER = 
MAIL_PASS = 
ADMIN_MAIL =